@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.cl-internal-uyu30o{
  display: none;
}
.cl-internal-rscu79{
 color: #2f8ab4;
}
.cl-internal-enrgi0{
  color: #2f8ab4;
}
.cl-internal-1kii5f8:disabled, .cl-internal-1kii5f8[data-disabled]{
  background-color:#2f8ab4;;
}
.cl-internal-1kii5f8{
  background-color: #2f8ab4;
}
.cl-internal-4ndsm0{
  color: #2f8ab4;
}
.cl-internal-qosp7d{
  color: #fff;
  background-color: #2f8ab4;
}
.cl-internal-1g55m7r{
  color: #2f8ab4;
}
.cl-internal-1kacczc{
  color:#fff;
  --accent: #2f8ab4;
  --bg: hsl(187.08deg 100% 50% / 59%);
}
.cl-internal-b3fm6y{
  display: none;
}